<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav-content>
    <div fxFill fxLayout="column">
    
      <mat-toolbar fxLayoutAlign="start center" color="primary" class="menu-bar mat-elevation-z1">
        <mat-icon (click)="drawer.toggle()" [ngStyle]="{'margin':'5px'}">list</mat-icon>
        <div fxFlex="90">
          <span fxLayoutAlign="start start">Agiles Prozessmanagement</span>
        </div>
        <div fxFley="10">
          <span fxLayoutAlign="end end" style="font-size: 18px;">{{ today | date: 'medium' }}</span>
        </div>
      </mat-toolbar>
      <mat-drawer-container [hasBackdrop]="true" fxFlex>
        <mat-drawer #drawer [mode]="'side'">
          <mat-nav-list>
            <mat-list-item routerLink="/user-page" routerLinkActive="active-list-item">
              <mat-icon>account_circle</mat-icon>
              Login
            </mat-list-item>
            <mat-list-item>
              <mat-icon>home</mat-icon>
              Startseite
            </mat-list-item>
            <mat-list-item>
              <mat-icon>settings</mat-icon>
              Einstellungen
            </mat-list-item>
          </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content fxFill>
          <div fxFill>
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
      
      <div fxLayoutAlign="start center" class="custom-footer" fxLayoutAlign="none center">
        <div fxFlex="90">
          <span fxLayoutAlign="start start">Copyright © - Entwickelt von A H.</span>
        </div>
        <div fxFlex="10">
          <span>
            <img [ngStyle]="{'width':'96%'}" src="../assets/daimler-logo.PNG">
          </span>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container fullscreen>
  <mat-sidenav #drawer>
    <mat-nav-list>
      <mat-list-item routerLink="/user-page" routerLinkActive="active-list-item">
        <mat-icon>account_circle</mat-icon>
        Login
      </mat-list-item>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        Startseite
      </mat-list-item>
      <mat-list-item>
        <mat-icon>settings</mat-icon>
        Einstellungen
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'overflow':'hidden'}">
    <div fxFill fxLayout="column">
      <mat-toolbar color="primary">
        <mat-icon (click)="drawer.toggle()">list</mat-icon>
        <div>
          <span>Agiles Prozessmanagement</span>
        </div>
        <div fxFlex></div>
        <div fxFley="10">
          <span fxLayoutAlign="end end" style="font-size: 18px;">{{ today | date: 'medium' }}</span>
        </div>
      </mat-toolbar>
      <div fxFlex>
        <router-outlet></router-outlet>
      </div>
      <div fxLayoutAlign="start center" class="custom-footer" fxLayoutAlign="none center">
        <div fxFlex="90">
          <span fxLayoutAlign="start start">Copyright © - Entwickelt von A H.</span>
        </div>
        <div fxFlex="10">
          <span>
            <img [ngStyle]="{'width':'96%'}" src="../assets/daimler-logo.PNG">
          </span>
        </div>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>