<mat-sidenav-container fullscreen fxFlex>
  <mat-sidenav #sidenav mode="push" class="sidenav-container">
    <mat-list [ngStyle]="{'overflow':'hidden'}">
      <h2 mat-subheader>Sivenav - Template</h2>
      <mat-list-item>
        <mat-icon>info</mat-icon>
        <p [ngStyle]="{'margin-left':'5px'}">Information</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <p [ngStyle]="{'margin-left':'5px'}"> Startseite </p>
      </mat-list-item>
      <mat-list-item (click)="toggleDiv()">
        <mat-icon>settings</mat-icon>
        <p [ngStyle]="{'margin-left':'5px'}"> Einstellungen </p>
      </mat-list-item>
      <mat-list-item [ngStyle]="{'margin-left':'20px'}" *ngIf="show">
        <mat-icon>language</mat-icon> 
        <p [ngStyle]="{'margin-left':'5px'}"> Sprache </p>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="wrap">
    <header role="banner">
      <mat-toolbar class="main-toolbar" color="primary">
        <mat-toolbar-row>
          <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Template</span>
          <div fxFlex></div>
          <div fxLayoutAlign="end">
            <button mat-button [matMenuTriggerFor]="appMenu">
              <mat-icon>settings</mat-icon>
            </button>
          </div>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item> Settings </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
    </header>
    <main style="height:90vh; overflow:auto; flex: 1">
      <router-outlet></router-outlet>
    </main>
    <footer fxLayoutAlign="center center">
      footer
    </footer>
  </div>
</mat-sidenav-container>