/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; }

$colors: (
  primary: (
    base: #1a237e,
    second : #212121,
  )
);

.app-theme1-theme {
	$app-primary: mat-palette($mat-gray, 900);
	$app-accent: mat-palette($mat-gray, 500);
  $app-warn: mat-palette($mat-gray, 100);
	$my-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn); 
	  @include angular-material-theme($my-app-theme); 
  }
  
  .app-theme2-theme {
  $app-primary: mat-palette($mat-indigo, 900);
	$app-accent: mat-palette($mat-indigo, 500);
  $app-warn: mat-palette($mat-indigo, 100);
  $my-app-theme: mat-light-theme($app-primary, $app-accent, $app-warn); 
	@include angular-material-theme($my-app-theme);
  }

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

mat-card {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
